EXPO_PUBLIC_USER_ID=user1
EXPO_PUBLIC_BACKEND_URL=http://120.78.228.69:3088
EXPO_PUBLIC_MQTT_HOST=120.78.228.69
EXPO_PUBLIC_MQTT_WS_PORT=9002
EXPO_PUBLIC_BEACON_UUID=01234567-89AB-CDEF-0123456789ABCDEF
